body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(230, 217, 176);
    text-align: center;
  }
  
/*   code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

  .title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 60px;
    color:rgb(80, 26, 26);
    font-family: "Bigelow Rules";
  }
  
  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }