/* .cardContainer{
    display:flex;
    flex-direction: column;
    background-color: bisque;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-in-out;
}

.cardContainer:hover{
    transform: scale(1.05);
} */

.cardContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color:cadetblue; */
    background-color: rgb(204, 180, 114);
    width: 15vw;
    height: 40vw;
    border: 1px solid rgb(22, 24, 22);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    opacity: 0.9;
}

.imageContainer{
    width: 100%;
    height: 40%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.name{
    color: black;
    position:absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out; /*Animacion fade in */
    -ms-transition: all 0.3s ease-in-out; /*Animacion fade in */
    transition: all 0.3s ease-in-out; /*Animacion fade in */   
}

.dogImage{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out; /*Animacion fade in */
    -ms-transition: all 0.3s ease-in-out; /*Animacion fade in */
    transition: all 0.3s ease-in-out; /*Animacion fade in */ 
    border-radius: 7px;
    word-wrap: break-word;
}

.imageContainer:hover .characterImage {
    opacity: 0.2;
}

