.cardContainer {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(204, 180, 114);
    width: 17vw;
    height: 40vw;
    border: 1px solid rgb(22, 24, 22);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.imageContainer{
    width: 100%;
    height: 40%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.dogImage{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.cardContainer:hover {
    transform: scale(1.05);
    background-color: rgb(212, 184, 105);
}

/* .cardContainer h2 {
    font-size: 1.4em; 
} */

.cardContainer a {
    text-decoration: initial;
    color: initial;
}

.shortName {
    font-size: 1.4em; 
}

.atributes {
    font-size: 1.2em;
}