.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10vh;
    background-color: rgb(204, 180, 114);
    border: 1px solid rgb(80, 26, 26);
    border-radius: 6px;
}

.button {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    color: bisque;
    cursor: pointer;
}

.input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20px;
    height: 17px;
}