body {
    background-image: url('../../assets/huesosyhuellas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
  } */

.landing {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 40px;
    color:rgb(204, 180, 114);
    font-family: "Bigelow Rules";
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80vh;
    height: 5vh;
    padding: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color:rgb(80, 26, 26);
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(204, 180, 114);
    border: 1px solid rgb(80, 26, 26);
    border-radius: 6px;
  }

.image {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50vh;
    margin-bottom: -9vh;
    z-index: 3;
}

.buttonContainer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
  }

.buttonContainer a {
    text-decoration: initial;
    color: initial;
    margin: 0;
    margin-top: 25vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    top: 50%;
    left: 50%;
    width:50vh;
    height: 10vh;
    padding: 15px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(47, 49, 44) 1px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px gray;
    background-color: rgb(204, 180, 114);
    cursor: pointer;
    font-size: 0.9em; 
    z-index: 1;
    font-weight: bold;
    color:rgb(80, 26, 26);
}

.buttonContainer:hover{
    zoom: 1.2;
}