.cardsList{
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui;
    margin-top: 10%;
    top: 0;
    padding-top: 0;
}

.cardsListPage {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}